.cmn-m {
	@apply mx-10 md:mx-36 lg:mx-48;
}
.cmn-txt {
	@apply md:text-xl;
}

.red {
	color: red;
}
.green {
	color: green;
}

.news {
	@apply w-full lg:w-48 lg:h-48;
}

.parent {
	position: relative;
}
.parent > img {
	height: 100%;
	width: 100%;
	border-radius: 10px;
}
.parent > .mask {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.parent:hover > .mask {
	position: absolute;
	font-size: large;

	bottom: 0;
}

.parent > .mask > .social {
	position: absolute;
	visibility: hidden;
}
.parent:hover > .mask > .social {
	position: relative;
	visibility: visible;
}
.mask > p {
	opacity: 25%;
}

.hh > li {
	@apply py-2 lg:py-5;
}

.right > p {
	opacity: 25%;
}
